# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# NextAuth.js
# Cambiar solo en producción por la URL del sitio en producción
NEXTAUTH_URL="http://localhost:3000/"
# Auth Secret (npx auth secret)
AUTH_SECRET=""

